<main class="main">
  <button type="button" class="button"><%= link_to "New Routine", new_routine_path %></button>
  <h1>Routines</h1>
  <table class="table">
    <tr>
      <th>Name</th>
    </tr>
    <% @routines.each do |routine| %>
      <tr>
        <td>
          <a href="/routines/<%= routine.id %>">
            <%= routine.name %>
          </a>
        </td>
      </tr>
    <% end %>
  </table>
</main>
